@import '../shared/scss/mixins.scss';

html, body {
  overflow: auto;
}

body {
  @include flex(column, flex-start, none);

  background: $admin-background;
  background-size: cover;
}

#title {
  font-family: $bold-font;
  text-align: center;
  font-size: 5vh;
  color: white;
  margin-top: 5vh;
}

#list {
  margin: 2vh;

  div {
    @include flex(row, space-between, center);

    margin: 1vh;
  }
  
  a, button {
    font-family: $secondary-font;
    color: black;
    font-size: 5vh;
    background: none;
    
    &:hover{
      cursor: pointer;
      color: white;
      opacity: 1;
    }
  }

  a {
    margin-right: 10vw;
    text-decoration: none;
    
    #username {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
    
    #id {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-left: none;
    }
  }
  
  span, button {
    padding: 1vh 2vh 1vh 2vh;

    border: 1px solid black;
    border-radius: 15px;
  }

  span{
    background: #24e27c;
    opacity: 80;
  }

  button{
    background: #fb5757; 
    opacity: .50;
  }
}

nav {
  @include menu(white,black);
}
