@import '../shared/mixins';

html, 
body {
  overflow: auto;
}

a, 
div, 
span, 
button {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#title {
  font-family: Ubuntu, sans-serif;
  text-align: center;
  font-size: 5vh;
  color: white;
  margin-top: 5vh;
}

.list {
  margin: 2vh;

  div {
    margin: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  a, 
  button{
    font-family: $primary-font;
    color: white;
    font-size: 5vh;
    background: none;
    &:hover{
      color: black;
    }
  }

  a{
    margin-right: 10vw;
    text-decoration: none;
    
    #username{
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
    
    #id{
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-left: none;
    }
  }
  
  span, button{
    padding: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    border: 1px solid white;
    border-radius: 15px;
  }
}

.menu {
  @include menu(black, white);
}