- var title = error.message;

extends layout

block content
  link(rel='stylesheet', href='/css/error.css')
  body
    i.icon-error
    span= 'Sorry, ' + error.message
    a(href='/')= 'Go to home page!'