extends layout

block content
  form(action='webchat')
    header
      button#logout.icon-login= exit
    ul#room
      li= 1
      li= 2
      li= 3
    footer
      input(
        type="text",
        name="message",
        placeholder="Enter your message..."
      )
      button.icon-login
  script(src='/js/webchat.js')