#window{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
/*  border: 0.1vh solid #393232;*/
  border-radius: 6px;
  box-shadow: 5px 5px 100px -20px #393232;
}

form[name="webchat"]{
  width: 100vh;
  height: 70vh;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  border-radius: 10px;
  
/*  border: 1px solid red;*/
}

ul{
  height: 94%;
/*  border: 1px solid blue;*/
  padding: 2vh;
  list-style-type: none;
  
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  background: #fbfbfb;
  border-left: 0.1px solid #525252;
  border-right: 0.1px solid #525252;
/*  opacity: 0.70;*/
/*  border: 2px solid green;*/
}

ul li{
/*  border: 1px solid red;*/
  max-width: 60vh;
  
  text-align: left;
  
  align-self: center;
/*  opacity: 1 !important;*/
  word-wrap: break-word;
  padding: 0.5vh;
  border-radius: 10px;
  margin: 0.5vh;
}

.nmy{
  padding: 1vh;
  align-self: flex-start;
/*  border: 1px solid green;*/
  background: #5cff5c;
}

.my{
  padding: 1vh;
  align-self: flex-end;
/*  border: 1px solid blue;*/
  background: #5c7dff;
}
header{
  height: 6%;
  background: gray;
/*  border: 1px solid red;*/
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
/*  opacity: 1;*/
  border: 0.1vh solid #525252;
  border-bottom: none;
}
footer{
  height: 9.5%;
  background: gray;
/*  border: 1px solid green;*/
  padding: 1vh;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border: 0.1vh solid #525252;
  border-top: none;
}
form[name="webchat"] input{
  width: 96%;
  outline: none;
  border: none;
  padding: 2vh;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  font-size: 3vh;
  border-radius: 8px;
}

form[name="webchat"] footer button{
  height: 6vh;
  width: 6vh;
  background: none;
  border: none;
  
  position: relative;
  top: -6.1vh;
  left: 90vh;
  
  border-radius: 50px;
  font-size: 5vh;
  color: gray;
}

#logout{
  border: none;
  width: 20px;
  height: 20px;
  background: url(close.svg) no-repeat;
/*  border: 1px solid blue;*/
  position: relative;
  top: 0.5vh;
  left: 0.5vh;
}
#logout:hover{
  background: url(close_hover.svg) no-repeat;
}