i.icon-error{
  font-size: 20vh;
  margin-bottom: 3vh;
}
.erorr-description{
  text-align: center;
  font-family: Bubbler One, sans-serif;
  font-size: 6vh;
}
.erorr-link{
  font-family: Bubbler One, sans-serif;
  color: black;
  font-size: 5vh;
  text-decoration: none;

  border: 1px solid black;
  border-radius: 15px;

  padding: 1vh;
  padding-left: 2vh;
  padding-right: 2vh;
  margin-top: 5vh;
}
.erorr-link:hover{
  cursor: pointer;
  border-color: white;
  color: white;
}
