@import 'variables';

@mixin flex($direction: row, $justify-content: center, $align-items: center){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin button($color, $hover-color){
  color: $color;
  font-family: $secondary-font;
  font-size: 5vh;
  text-decoration: none;

  border: 1px solid $color;
  border-radius: 15px;

  padding: 1vh 2vh 1vh 2vh;
  margin: 5vh 0 0 0;

  &:hover{
    cursor: pointer;
    border-color: $hover-color;
    color: $hover-color;
  }
}

@mixin menu($color, $hover-color){
  @include flex(row, space-between, none);

  a {
    @include button($color, $hover-color);

    font-family: $primary-font;
    margin: 0 5vh 0 5vh;
  }
}