$primary-font: Regular, sans-serif;
$secondary-font: Light, sans-serif;
$bold-font: Bold, sans-serif;

$background: url("../background.jpg") center fixed;
$admin-background: url('../admin-panel-background.jpg') center fixed;