@import '../shared/saas/mixins.scss';

#signin {
  @include flex(column);

  width: 100%;
  color: white;

  #logo{
    margin-top: 8vh;
    width: 80%;
    height: 30vh;
  }

  h1 {
    font-family: $bold-font;
    font-weight: 400;
    margin: 2.5vh 1vh 1vh 1vh;
    font-size: 5vh;
  }

  p {
    font-family: $secondary-font;
    font-size: 3.4vh;
    margin: .5vh 0 1.5vh 0;
  }
}

form[name="login"] {
  @include flex(column, none, center);

  width: 51vh;
  height: 100vh;

  position: relative;
  top: -5vh;

  input {
    width: 92%;
    height: 4vh;

    outline: none;
    border: none;
    padding: 1.5vh 2vh 1.5vh 2vh;
    font-family: $bold-font;
    font-size: 3vh;
  }

  input[type="text"] {
    border-radius: 6px 6px 0 0;
  }

  input[type="password"] {
    width: 78.5%;
    border-radius: 0 0 0 6px;
  }

  #password {
    @include flex(row);

    margin-top: 2px;
    width: 99.9%;
  }

  button {
    height: 7vh;
    
    background: none;
    border: none;
    outline: none;

    font-size: 5vh;
    color: gray;
    background: white;
    border-bottom-right-radius: 6px;

    &:hover{
      color: #26fa88;
    }
  }
}
  
#error {
  position: relative;
  margin-top: 2vh;
  color: #fb5757;
  font-size: 2.8vh;
  text-align: center;
  height: 3vh;
}

.links {
  @include flex(row);

  position: relative;
  top: 24vh;
  
  a {
  color: white;
  font-size: 4vh;
  text-decoration: none;

  &:hover {
    color: black;
  }}
}