@import '../shared/mixins';

.signin {
  width: 100%;
  margin-bottom: 1vh;

  @include flex-center(column);

  h1 {
    font-family: $secondary-font;
    font-weight: 400;
    padding: 1vh;
    font-size: 5vh;
    color: white;
  }

  p {
//    font-family: $primary-font;
    color: white;
    font-size: 3.4vh;

    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
  }

  i {
    font-size: 13vh;
    color: white;
  }
}

form[name="login"] {
  width: 51vh;
  height: 100vh;

  position: relative;
  top: -5vh;

  @include flex-center(column);

  input {
    width: 92%;
    height: 4vh;
    outline: none;
    border: none;
    padding: 2vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    font-size: 3vh;
  }

  input[type="text"] {
    border-radius: 0px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }

  input[type="password"] {
    border-radius: 0px;
    border-bottom-left-radius: 6px;
  }

  #password {
    @include flex-center(row);
    margin-top: 2px;
    width: 99.9%;
  }

  button {
    height: 7vh;
    background: none;
    border: none;
    outline: none;
    font-size: 5vh;
    color: gray;
    background: white;
    border-bottom-right-radius: 6px;
    &:hover{
      color: #26fa88;
    }
  }
}
  
#error {
  position: relative;
  margin-top: 2vh;
  color: #fb5757;
  font-family: $secondary-font;
  font-size: 3vh;
  height: 3vh;
}

.links {
  @include flex-center(row);
  position: relative;
  top: 24vh;
  
  a {
  color: white;
  font-size: 4vh;
  text-decoration: none;
  &:hover {
    color: black;
  }}
}
