@import '../shared/mixins';

body {
  font-family: $primary-font;
  color: black;
}

i.icon-error {
  font-size: 20vh;
  margin-bottom: 3vh;
}

span {
  font-size: 6vh;
}

a {
  @include button(black, white);
}
