@import url('fonts.css');

html {
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input,div,h1,p{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background: url("background.jpg") center fixed;
  background-size: cover;
}

form{
  width: 50vh;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  position: relative;
  top: -5vh;
}

input{
  width: 100%;
  outline: none;
  border: none;
  padding: 2vh;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  font-size: 3vh;
}

input[type="text"]{
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

input[type="password"]{
  margin-top: 1.5px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

button{
  height: 6vh;
  width: 6vh;
  background: none;
  border: none;
  
  align-self: flex-end;
  position: relative;
  top: -6.3vh;
  left: 2vh;
  
  border-radius: 50px;
  font-size: 5vh;
}

.signin{ 
  width: 108%;
  margin-bottom: 1vh;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin h1{
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
  padding: 1vh;
  font-size: 5vh;
  color: white;
}

.signin p{
  font-family: Bubbler One, sans-serif;
  color: white;
  font-size: 3.5vh;
}


