doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/css/layout.css')
    link(rel='stylesheet', href='/css/webchat.css')
    link(rel='stylesheet', href='/css/fontello.css')
    script(src='/vendor/jquery/dist/jquery.min.js')
  body
    block content