@import '../shared/mixins';

@import url('fonts.css');
@import url('icons.css');

html {
  overflow: hidden;
  font-family: $primary-font;
}

div,form,
p,h1,ul,li,
input,button{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;

  height: 100vh;

  @include flex-center(column);

  background: url("../background.jpg") center fixed;
  background-size: cover;
}