@import '../shared/scss/mixins.scss';

@import url('fonts.css');
@import url('icons.css');

html {
  overflow: hidden;
  font-family: $primary-font;
}

div,form,img,
p,h1,ul,li,a,
input,button,span,body {
  margin: 0;
  padding: 0;
}

body {
  @include flex(column);

  height: 100vh;
  background: $background;
  background-size: cover;
}