doctype html
html(lang="en")
  head
    title= title
    //meta(name='viewport', content='initial-scale=1.0')
    link(rel='stylesheet', href='/css/layout.css')
    link(rel='stylesheet', href='/css/webchat.css')
    link(rel='stylesheet', href='/css/error.css')
  body
    block content
