$primary-font: Regular, sans-serif;
$secondary-font: Light, sans-serif;
$bold-font: Bold, sans-serif;

$background: url("../background.jpg") center fixed;
$admin-background: url('../admin-panel-background.jpg') center fixed;

@mixin flex-center($direction){
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin button($color, $hover-color){
  color: $color;
  font-family: $secondary-font;
  font-size: 5vh;
  text-decoration: none;

  border: 1px solid $color;
  border-radius: 15px;

  padding: 1vh;
  padding-left: 2vh;
  padding-right: 2vh;
  margin-top: 5vh;

  &:hover{
    cursor: pointer;
    border-color: $hover-color;
    color: $hover-color;
  }
}

@mixin menu($color, $hover-color){
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  a{
    color: $color;
    //font-family: $secondary-font;
    //font-family: $message-font;
    font-size: 5vh;
    text-decoration: none;

    border: 1px solid $color;
    border-radius: 15px;

    padding: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    
    margin-left: 5vh;
    margin-right: 5vh;
    
    &:hover{
      cursor: pointer;
      border-color: $hover-color;
      color: $hover-color;
    }
  }
}
